body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background-image: url('000000_900822006_kdpmpp2m15_PS7.5_PC_background._Fondo_de_pantalla_de_PC_de_Pok_mon\,_imagen_con_animaciones._Realistic_[upscaled].jpg');
    background-size: cover;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #333; 
    color: white; 
    border: none; 
}

button#show-history-button {
    float: right;
    margin-left: 7px;
}
.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}



.poke-card {
    position: relative;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 300px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    background-color: #FFF;
    border: 1px solid black;
}

.poke-card::before {
    content: '';
    background: radial-gradient(black 33%, transparent 33%);
    background-size: 3px 3px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
}

.img-container {
    position: relative;
    width: 180px;
    margin: 10px auto;
}

.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}

.poke-types div {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px dashed black;
}

.poke-img {
    width: 180px;
    border-radius: 50%;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}



/* Estilos para la tabla del historial */
.history-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.history-table th, .history-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    background-color: #f2f2f2; 
}

.history-table th {
    background-color: #333;
    color: white;
}

.team-message {
    display: none; /* Inicialmente ocultamos el contenedor */
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    padding: 10px; /* Agregamos espacio alrededor del texto */
    border: 2px solid #333; /* Borde con color de la barra de navegación */
    border-radius: 8px; /* Añadimos esquinas redondeadas */
    background-color: #333; /* Color de fondo similar al de la barra de navegación */
    color: white; /* Color de texto blanco */
}

.team-message.has-content {
    display: block; /* Mostramos el contenedor cuando hay contenido */
}

.team-completed {
    font-weight: bold; /* Hace que el texto sea más llamativo */
}